In [1]:
import os
import sys

import pyspark
from pyspark import SparkConf
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [2]:
spark_version = pyspark.version.__version__
packages = [
    f"org.apache.spark:spark-avro_2.11:{spark_version}",
]

In [3]:
conf = SparkConf()
conf.set("spark.jars.packages", ",".join(packages))

In [4]:
spark = SparkSession.builder\
        .appName("Avro sample")\
        .config(conf=conf)\
        .getOrCreate()

# Read Arvo file

In [9]:
def show_me(df):
    df.show(vertical=True)
    df.printSchema()

In [7]:
df = spark.read.format("avro").load("file:///home/jovyan/work/samples/mysql.avro")

In [10]:
show_me(df)

-RECORD 0---------------------------
 id          | 1
 T_BIT       | false
 T_TINYINT   | 127
 T_SMALLINT  | 32767
 T_MEDIUMINT | 8388607
 T_INT       | 2147483647
 T_BIGINT    | 9223372036854775807
 T_BOOL      | 1
 T_DECIMAL   | 1.6180
 T_FLOAT     | 2.718280076980591
 T_DOUBLE    | 3.141592653589793
 T_DATE      | 18314
 T_TIME      | 32641000000
 T_DATETIME  | 1582362241000
 T_TIMESTAMP | 2020-02-22T09:04:01Z
 T_YEAR      | 2020
 T_CHAR      | 3cc842a
 T_VARCHAR   | ec21d22
 T_BINARY    | [30 30 63 34 31 6...
 T_VARBINARY | [31 36 64 66 32 6...
 T_BLOB      | [34 31 39 62 38 3...
 T_TEXT      | 2ceb3b748025cbf80...
 T_ENUM      | MON
 T_SET       | b,d
 T_JSON      | ["abc", 10, null,...

root
 |-- id: long (nullable = true)
 |-- T_BIT: boolean (nullable = true)
 |-- T_TINYINT: integer (nullable = true)
 |-- T_SMALLINT: integer (nullable = true)
 |-- T_MEDIUMINT: integer (nullable = true)
 |-- T_INT: integer (nullable = true)
 |-- T_BIGINT: long (nullable = true)
 |-- T_BOOL: integer (nullable = true)
 |-- T_DECIMAL: decimal(19,4) (nullable = true)
 |-- T_FLOAT: double (nullable = true)
 |-- T_DOUBLE: double (nullable = true)
 |-- T_DATE: integer (nullable = true)
 |-- T_TIME: long (nullable = true)
 |-- T_DATETIME: long (nullable = true)
 |-- T_TIMESTAMP: string (nullable = true)
 |-- T_YEAR: integer (nullable = true)
 |-- T_CHAR: string (nullable = true)
 |-- T_VARCHAR: string (nullable = true)
 |-- T_BINARY: binary (nullable = true)
 |-- T_VARBINARY: binary (nullable = true)
 |-- T_BLOB: binary (nullable = true)
 |-- T_TEXT: string (nullable = true)
 |-- T_ENUM: string (nullable = true)
 |-- T_SET: string (nullable = true)
 |-- T_JSON: string (nullable = true)

In [ ]:
df2 = df.withColumn("payment_date", F.to_timestamp("payment_date"))\
        .withColumn("last_update", F.to_timestamp("last_update"))

In [ ]:
show_me(df2)