In [1]:
import os
import sys

import pyspark
from pyspark import SparkConf
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [2]:
spark_version = pyspark.version.__version__
packages = [
    f"org.apache.spark:spark-avro_2.11:{spark_version}",
]

In [3]:
conf = SparkConf()
conf.set("spark.jars.packages", ",".join(packages))

In [4]:
spark = SparkSession.builder\
        .appName("Avro sample")\
        .config(conf=conf)\
        .getOrCreate()

# Read Arvo file

In [5]:
def show_me(df):
    df.show(vertical=True, truncate=False)
    df.printSchema()

In [6]:
df = spark.read.format("avro").load("file:///home/jovyan/work/samples/mysql.avro")

In [7]:
show_me(df)

-RECORD 0--------------------------------------------------------------------------------------------------------
 id          | 1
 T_BIT       | false
 T_TINYINT   | 127
 T_SMALLINT  | 32767
 T_MEDIUMINT | 8388607
 T_INT       | 2147483647
 T_BIGINT    | 9223372036854775807
 T_BOOL      | true
 T_DECIMAL   | 1.6180
 T_FLOAT     | 2.7182817459106445
 T_DOUBLE    | 3.141592653589793
 T_DATE      | 2020-02-25
 T_TIME      | 13985244
 T_DATETIME  | 2020-02-25 03:53:05.244
 T_TIMESTAMP | 2020-02-25T03:53:05.244252Z
 T_YEAR      | 2020
 T_CHAR      | 09da594
 T_VARCHAR   | bc64227
 T_BINARY    | [35 31 39 66 34 33 64]
 T_VARBINARY | [35 39 34 66 38 62 34]
 T_BLOB      | [35 63 39 64 30 39 36 61 31 33 33 34 32 61 34 66 32 30 66 34 66 39 65 30 61 33 30 66 36 38 64 65]
 T_TEXT      | c69e611612e5d72b1bb9810f3a76e375
 T_ENUM      | MON
 T_SET       | b,d
 T_JSON      | ["abc",10,null,true,{"k1":"value","k2":10}]

root
 |-- id: long (nullable = true)
 |-- T_BIT: boolean (nullable = true)
 |-- T_TINYINT: integer (nullable = true)
 |-- T_SMALLINT: integer (nullable = true)
 |-- T_MEDIUMINT: integer (nullable = true)
 |-- T_INT: integer (nullable = true)
 |-- T_BIGINT: long (nullable = true)
 |-- T_BOOL: boolean (nullable = true)
 |-- T_DECIMAL: decimal(19,4) (nullable = true)
 |-- T_FLOAT: double (nullable = true)
 |-- T_DOUBLE: double (nullable = true)
 |-- T_DATE: date (nullable = true)
 |-- T_TIME: integer (nullable = true)
 |-- T_DATETIME: timestamp (nullable = true)
 |-- T_TIMESTAMP: string (nullable = true)
 |-- T_YEAR: integer (nullable = true)
 |-- T_CHAR: string (nullable = true)
 |-- T_VARCHAR: string (nullable = true)
 |-- T_BINARY: binary (nullable = true)
 |-- T_VARBINARY: binary (nullable = true)
 |-- T_BLOB: binary (nullable = true)
 |-- T_TEXT: string (nullable = true)
 |-- T_ENUM: string (nullable = true)
 |-- T_SET: string (nullable = true)
 |-- T_JSON: string (nullable = true)

In [8]:
df2 = df.withColumn("T_TIMESTAMP", F.to_timestamp("T_TIMESTAMP"))

In [9]:
show_me(df2)

-RECORD 0--------------------------------------------------------------------------------------------------------
 id          | 1
 T_BIT       | false
 T_TINYINT   | 127
 T_SMALLINT  | 32767
 T_MEDIUMINT | 8388607
 T_INT       | 2147483647
 T_BIGINT    | 9223372036854775807
 T_BOOL      | true
 T_DECIMAL   | 1.6180
 T_FLOAT     | 2.7182817459106445
 T_DOUBLE    | 3.141592653589793
 T_DATE      | 2020-02-25
 T_TIME      | 13985244
 T_DATETIME  | 2020-02-25 03:53:05.244
 T_TIMESTAMP | 2020-02-25 03:53:05.244252
 T_YEAR      | 2020
 T_CHAR      | 09da594
 T_VARCHAR   | bc64227
 T_BINARY    | [35 31 39 66 34 33 64]
 T_VARBINARY | [35 39 34 66 38 62 34]
 T_BLOB      | [35 63 39 64 30 39 36 61 31 33 33 34 32 61 34 66 32 30 66 34 66 39 65 30 61 33 30 66 36 38 64 65]
 T_TEXT      | c69e611612e5d72b1bb9810f3a76e375
 T_ENUM      | MON
 T_SET       | b,d
 T_JSON      | ["abc",10,null,true,{"k1":"value","k2":10}]

root
 |-- id: long (nullable = true)
 |-- T_BIT: boolean (nullable = true)
 |-- T_TINYINT: integer (nullable = true)
 |-- T_SMALLINT: integer (nullable = true)
 |-- T_MEDIUMINT: integer (nullable = true)
 |-- T_INT: integer (nullable = true)
 |-- T_BIGINT: long (nullable = true)
 |-- T_BOOL: boolean (nullable = true)
 |-- T_DECIMAL: decimal(19,4) (nullable = true)
 |-- T_FLOAT: double (nullable = true)
 |-- T_DOUBLE: double (nullable = true)
 |-- T_DATE: date (nullable = true)
 |-- T_TIME: integer (nullable = true)
 |-- T_DATETIME: timestamp (nullable = true)
 |-- T_TIMESTAMP: timestamp (nullable = true)
 |-- T_YEAR: integer (nullable = true)
 |-- T_CHAR: string (nullable = true)
 |-- T_VARCHAR: string (nullable = true)
 |-- T_BINARY: binary (nullable = true)
 |-- T_VARBINARY: binary (nullable = true)
 |-- T_BLOB: binary (nullable = true)
 |-- T_TEXT: string (nullable = true)
 |-- T_ENUM: string (nullable = true)
 |-- T_SET: string (nullable = true)
 |-- T_JSON: string (nullable = true)