In [ ]:
import os
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

In [ ]:
s3Conf = {
    "spark.hadoop.fs.s3a.endpoint":   "http://minio:9000/",
    "spark.hadoop.fs.s3a.impl":       "org.apache.hadoop.fs.s3a.S3AFileSystem",
    "spark.hadoop.fs.s3a.access.key": "admin",
    "spark.hadoop.fs.s3a.secret.key": "SuperSecr3t",
    "spark.hadoop.fs.s3a.path.style.access": True,
}

In [ ]:
from pyspark import SparkConf

conf = SparkConf()
conf.setAll(s3Conf.items())

In [ ]:
spark = SparkSession.builder\
        .appName("Get DDL")\
        .master("local[4]")\
        .config(conf=conf)\
        .getOrCreate()

# Read Table in MinIO

In [ ]:
type_mapping = {
    "string": "varchar",
    "float":  "real"
}

In [ ]:
df = spark.read.parquet(f"s3a://data-warehouse/nyc-taxi/")

In [ ]:
for col, dtype in df.dtypes:
    if dtype in type_mapping:
        dtype = type_mapping[dtype]
    print(f"{col:30} {dtype},")

In [ ]:
"""
CREATE TABLE "hive"."default"."nyc_taxi" (

)
with (
    external_location = 's3a://data-warehouse/nyc-taxi/',
    format = 'PARQUET',
    -- partitioned_by = ARRAY['date']
)
"""